/.vscode
/ar.php
/ds.php
/en.php
/fr.php
/index.html
/index.php
/lec.txt
/lectures
/LESSONS
/mohamed.php
/mohamed.txt
/mok.php
/new
/old
/pro.php
/project.php
/rn.php
/solve.php
/task.html
/task.php
/task2.php
/test.js
/test.php
/test2.php
/try.php